{% extends 'base.html' %}
{% block content %}

<form action="" method="POST" name="Alpnames Credentials">
{{ form.hidden_tag() }}

  <p>
    Account Name:<br>
    {{ form.account_name() }}<br>
  </p>
  {% if form.account_name.errors %}
      <ul class="errors">{% for error in form.account_name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    Reseller ID:<br>
    {{ form.reseller_id() }}<br>
  </p>
  {% if form.reseller_id.errors %}
      <ul class="errors">{% for error in form.reseller_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    API Key:<br>
    {{ form.api_key() }}<br>
  </p>
  {% if form.api_key.errors %}
      <ul class="errors">{% for error in form.api_key.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    Customer ID:<br>
    {{ form.customer_id() }}<br>
  </p>
  {% if form.customer_id.errors %}
      <ul class="errors">{% for error in form.customer_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p><input type="submit" name="Submit Alpnames Credentials"></p>
</form>

{% endblock %}