{% extends 'base.html' %}
{% block content %}
{% if error %}
<p class="errors"><strong>Error: </strong>{{ error }}</p>
{% endif %}

<form action="" method="POST" name="login">
{{ form.hidden_tag() }}

  <p>
    Master Username:<br>
    {{ form.username() }}<br>
  </p>
  {% if form.username.errors %}
      <ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    Master Password:<br>
    {{ form.password() }}<br>
  </p>
  {% if form.password.errors %}
      <ul class="errors">{% for error in form.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    AlpNames Reseller ID:<br>
    {{ form.alpnames_reseller_id() }}<br>
  </p>
  {% if form.alpnames_reseller_id.errors %}
      <ul class="errors">{% for error in form.alpnames_reseller_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    AlpNames API Key:<br>
    {{ form.alpnames_api_key() }}<br>
  </p>
  {% if form.alpnames_api_key.errors %}
      <ul class="errors">{% for error in form.alpnames_api_key.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    AlpNames Customer ID:<br>
    {{ form.alpnames_customer_id() }}<br>
  </p>
  {% if form.alpnames_customer_id.errors %}
      <ul class="errors">{% for error in form.alpnames_customer_id.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    ParkingCrew Username 1:<br>
    {{ form.parkingcrew_username_1() }}<br>
  </p>
  {% if form.parkingcrew_username_1.errors %}
      <ul class="errors">{% for error in form.parkingcrew_username_1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    ParkingCrew API Key 1:<br>
    {{ form.parkingcrew_api_key_1() }}<br>
  </p>
  {% if form.parkingcrew_api_key_1.errors %}
      <ul class="errors">{% for error in form.parkingcrew_api_key_1.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    ParkingCrew Username 2:<br>
    {{ form.parkingcrew_username_2() }}<br>
  </p>
  {% if form.parkingcrew_username_2.errors %}
      <ul class="errors">{% for error in form.parkingcrew_username_2.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    ParkingCrew API Key 2:<br>
    {{ form.parkingcrew_api_key_2() }}<br>
  </p>
  {% if form.parkingcrew_api_key_2.errors %}
      <ul class="errors">{% for error in form.parkingcrew_api_key_2.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p><input type="submit" name="Sign In"></p>
</form>

{% endblock %}