{% extends 'base.html' %}
{% block content %}

<form action="" method="POST" name="Parkingcrew Credentials">
{{ form.hidden_tag() }}

  <p>
    Username:<br>
    {{ form.username() }}<br>
  </p>
  {% if form.username.errors %}
      <ul class="errors">{% for error in form.username.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p>
    API Key:<br>
    {{ form.api_key() }}<br>
  </p>
  {% if form.api_key.errors %}
      <ul class="errors">{% for error in form.api_key.errors %}<li>{{ error }}</li>{% endfor %}</ul>
  {% endif %}

  <p><input type="submit" name="Submit Parkingcrew Credentials"></p>
</form>

{% endblock %}